form {
	padding: 20px;
	background-color: white;
}

	form label {
		color: rgba(0,0,0,0.5);
		font-size: 12px;
		text-transform: uppercase;
		display: block;
		margin-bottom: 5px;
	}

	form > div:not(:first-child) {
		margin-top: 10px;
	}

	form div.error {
		color: red;
	}

	form input, form select, form textarea {
		padding: 8px;
		font-family: Arial,sans-serif
	}

.VerifyableForm {
	box-shadow: rgba(0,0,0,0.3) 0px 10px 20px;
}