#ProgrammeFilter {
	display: flex;
	padding-left: 10px;
	padding-right: 10px;
	flex-wrap: wrap;
}

	#ProgrammeFilter > * {
		margin: 10px;
		flex-basis: auto;
		flex-grow: 1;
		background-image: linear-gradient(to bottom left, rgba(0,0,0,0.2), rgba(0,0,0,0.07));
		color: white;
		padding: 10px;
		border-radius: 15px;
		text-align: center;
	}

	#ProgrammeFilter .selected {
		background-color: #517AC8
	}

	#ProgrammeFilter a:not(.selected):hover {
		background-color: white;
		color: #517AC8;
	}

a[title="Show all"] {
	display: none
}

#ProgrammeFilter a.selected ~ a[title="Show all"], a.selected[title="Show all"] {
	display: block;
}